<div>
    <h1>Projeto Angular pos santana</h1><br/>

    <uib-tabset active="active" justified="true">
        <uib-tab index="0" heading="Busca por repositórios" select="vm.selecttab(0)">
            <input type="text" ng-model="vm.repositorySearchTerm" />
            <button type="button" ng-click="vm.queryRepositories(true)">pesquisar</button>
        </uib-tab>
        <uib-tab index="1" heading="Busca por usuários" select="vm.selecttab(1)">
            <input type="text" ng-model="vm.userSearchTerm" />
            <button type="button" ng-click="vm.queryUser(true)">pesquisar</button>
        </uib-tab>
    </uib-tabset>

    <json-formatter json="vm.repositorySearchResult" open="1"></json-formatter>
    <name-printer-test eq="vm.eq" at="{{vm.at}}" and="vm.and"></name-printer-test>
    <div ui-grid="vm.gridData" class="myGrid" ui-grid-cellNav></div>>
    <uib-pagination force-ellipses="true" max-size="10" total-items="vm.count" ng-model="vm.curpage" ng-change="vm.mudapagina()" items-per-page="30" previous-text="anterior" next-text="proximo">
    </uib-pagination>
</div>